<section class="mainInfo">
  {{#each mainContentData}}
  <article class="mainInfo__product">
    <img src="{{this.img}}" alt="{{this.imgAlt}}" />
    <aside class="mainInfo__product__description">
      <p>{{this.price}} &euro;</p>
      <h2>{{this.title}}</h2>
      <h3>{{this.description}}</h3>
    </aside>
    <aside class="mainInfo__product__selector">
      <button class="buttonMinus">-</button>
      <p>0</p>
      <button class="buttonSum">+</button>
    </aside>
  </article>
  {{/each}}
  <article class="mainInfo__product">
    <img src="img/productos/desayuno01.jpg" alt="Imagen desayuno" />
    <aside class="mainInfo__product__description">
      <p>15 &euro;</p>
      <h2>Desayuno de la casa</h2>
      <h3>Huevos, pancakes y tocino</h3>
    </aside>
    <aside class="mainInfo__product__selector">
      <button class="buttonMinus">-</button>
      <p>0</p>
      <button class="buttonSum">+</button>
    </aside>
  </article>
  <article class="mainInfo__product">
    <img src="img/productos/ensalada01.jpg" alt="" />
    <aside class="mainInfo__product__description">
      <p>12 &euro;</p>
      <h2>Ensalada César</h2>
      <h3>Con salsa ranchera</h3>
    </aside>
    <aside>
      <button>-</button>
      <p>0</p>
      <button>+</button>
    </aside>
  </article>
  <article class="mainInfo__product">
    <img src="img/productos/macarrones.jpg" alt="" />
    <aside class="mainInfo__product__description">
      <p>8 &euro;</p>
      <h2>Macarrones con queso</h2>
      <h3>Queso parmesano</h3>
    </aside>
    <aside>
      <button>-</button>
      <p>0</p>
      <button>+</button>
    </aside>
  </article>
  <article class="mainInfo__product">
    <img src="img/productos/Hamburguesa.jpg" alt="" />
    <aside class="mainInfo__product__description">
      <p>9 &euro;</p>
      <h2>Hamburguesa Clásica</h2>
      <h3>Con queso Cheddar</h3>
    </aside>
    <aside>
      <button>-</button>
      <p>0</p>
      <button>+</button>
    </aside>
  </article>
  <article class="mainInfo__product">
    <img src="img/productos/pollo.jpg" alt="" />
    <aside class="mainInfo__product__description">
      <p>8 &euro;</p>
      <h2>Pollo asado</h2>
      <h3>Con papas fritas</h3>
    </aside>
    <aside>
      <button>-</button>
      <p>0</p>
      <button>+</button>
    </aside>
  </article>
  <article class="mainInfo__product">
    <img src="img/productos/pizza.jpg" alt="" />
    <aside class="mainInfo__product__description">
      <p>5 &euro;</p>
      <h2>Pizza Margarita</h2>
      <h3>Tomate, Mozzarella y albahaca</h3>
    </aside>
    <aside>
      <button>-</button>
      <p>0</p>
      <button>+</button>
    </aside>
  </article>
  <article class="mainInfo__product">
    <img src="img/productos/pescado.jpg" alt="" />
    <aside class="mainInfo__product__description">
      <p>20 &euro;</p>
      <h2>Pescado a la plancha</h2>
      <h3>Pesacdo de temporada y verduras</h3>
    </aside>
    <aside>
      <button>-</button>
      <p>0</p>
      <button>+</button>
    </aside>
  </article>
  <article class="mainInfo__product">
    <img src="img/productos/pieLimon.jpg" alt="" />
    <aside class="mainInfo__product__description">
      <p>5 &euro;</p>
      <h2>Tarta de limón</h2>
      <h3>Casera</h3>
    </aside>
    <aside>
      <button>-</button>
      <p>0</p>
      <button>+</button>
    </aside>
  </article>
  <article class="mainInfo__product">
    <img src="img/productos/cheesecake.jpg" alt="" />
    <aside class="mainInfo__product__description">
      <p>5 &euro;</p>
      <h2>Cheesecake</h2>
      <h3>Con frutos rojos</h3>
    </aside>
    <aside>
      <button>-</button>
      <p>0</p>
      <button>+</button>
    </aside>
  </article>
  <article class="mainInfo__product">
    <img src="img/productos/vinoTinto.jpg" alt="" />
    <aside class="mainInfo__product__description">
      <p>3.5 &euro;</p>
      <h2>Vino tinto</h2>
      <h3>De la casa</h3>
    </aside>
    <aside>
      <button>-</button>
      <p>0</p>
      <button>+</button>
    </aside>
  </article>
  <article class="mainInfo__product">
    <img src="img/productos/vinoBlanco.jpg" alt="" />
    <aside class="mainInfo__product__description">
      <p>3.5 &euro;</p>
      <h2>Vino blanco</h2>
      <h3>De la casa</h3>
    </aside>
    <aside>
      <button>-</button>
      <p>0</p>
      <button>+</button>
    </aside>
  </article>
  <article class="mainInfo__product">
    <img src="img/productos/cerveza.jpg" alt="" />
    <aside class="mainInfo__product__description">
      <p>2.5 &euro;</p>
      <h2>Cerveza</h2>
      <h3>De la casa</h3>
    </aside>
    <aside>
      <button>-</button>
      <p>0</p>
      <button>+</button>
    </aside>
  </article>
</section>